
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #469165;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.9s;
}
.btn:hover{
    background: linear-gradient(#34495e, #8e44ad);
}
.access-btn{
    padding: 8px 12px;
    background-color: white;
    border: none;
    color: #469165;
    font-weight: 500;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 116px;
    transition: 0.9s;
}
.access-btn:hover{
    background: linear-gradient(#34495e, #8e44ad);
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    max-width: 1360px;
    margin: 0 auto;
}
nav .menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
nav .menu li{
    list-style: none;
}
nav .menu a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 5px 8px;
}
nav .menu a:hover{
    background-color: #F95555;
    padding: 5px 8px;
}
#banar{
    background: linear-gradient(rgba(211, 131, 18, 0.3), rgba(168, 50, 121, 0.3)), url(../images/hero-bg.png ) no-repeat center;
}
.banar-container{
    text-align: center;
    padding: 157px 120px 221px 120px;
    max-width: 1360px;
    margin: 0 auto;
}
.banar-container .nav-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banar-container .banar-content p{
    color: white;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
}
#banar .banar-container .button-play{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
}
.note-container{
    display: flex;
    justify-content: center;
    max-width: 1600px;
    gap: 16px;
    margin: 0 auto;
}
.note-container .note-card{
    max-width: 322px;
    max-height: 300px;
}
#note{
    text-align: center;
}
.note-container .note-card img{
    background: #F95555;
    border: 15px solid #F95555;
    border-radius: 50%;
    margin-top: 46px;
}   
#note .section-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 60px;
    margin-bottom: 16px;
}
#note .section-heading p{
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}
.note-container .note-card{
    padding: 20px; 
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);   
}
.note-container .note-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
    
}
.note-container .note-card p{
    line-height: 20px;
    color: #627382; 
}

.brain-container{
  margin: 0 auto;
  padding: 120px;    
}
.brain-container .brain-image img{
    max-width: 600px;
}
.brain-container .brain-content{
    width: 700px;
}
.brain-container .section-container{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    gap: 60px;
    margin: 0 auto;
}
.brain-container .brain-content h6{
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;
    line-height: 20px;
}
.brain-container .brain-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.brain-container .brain-content p{
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}
.brain-container .brain-content ul li{
    list-style: none;
    color: #001931;
    line-height: 20px;
    padding-bottom: 16px;
}
.brain-container .brain-content ul li img{
    margin-right: 6px;
}
.access-container{
    background-color: #F7F6F2;
    max-width: 1360px;
    text-align: center;
    padding: 80px 0;
    margin: 0 auto; 
    margin-bottom: 120px; 
}
.access-container .access-content{
    max-width: 1280px;
}
.access-container .access-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 16px;
}
.access-container .access-content p{
    color: #627382;
    line-height: 24px;
    padding-bottom: 24px;
}
.access-container .access-content button{
    margin-bottom: 16px;
}
.access-container .access-content para-two p{
    padding-bottom: 80px;
}
.footer-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 120px 0 120px;
    background-color: #001931;
}
.footer-container .footer-content{
    display: flex;
    justify-content: space-between;
}
hr{
    margin-top: 80px;
}
.footer-container .copyright{
    padding: 30px 0;
    color: white;
    text-align: center;
}
.footer-container .social-area p{
    color: white;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 500;
}
/* .fa-brands fa-x-twitter{
    background-color: white;
    border: 8px solid white;
} */
.social-link{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 8px solid white;
    border-radius: 50%;
}
.social-logo{
    display: flex;
    gap: 16px;
}
.line{
    border-top: 1px solid rgba(234, 229, 235, 0.2);
    margin-top: 80px;
}




